.start-working
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  height: 100%
  font-size: 18px
  color: rgba(0,0,0,0.5)
  font-weight: 100
  
  .hammer
    margin-right: 15px
    margin-bottom: 15px
    svg
      height: 47px
  
  .hint
    font-size: 11px
    margin-top: 10px