.Notification
  width: calc(100% - 20px)
  display: flex
  justify-content: center
  background: white
  border: 1px solid rgba(0,0,0,0.1)
  border-radius: 10px
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.05)
  padding-top: 15px
  padding-bottom: 15px
  font-size: 14px
  color: #2C2C30
  margin: 0 10px 10px 10px

  .button
    margin-left: 20px
    border: none !important
    background: none
    font-size: 14px
    padding: 0
    cursor: pointer
    color: #875BBC
