html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Chisel CMS: Server Selection
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href="./")
  body
    #app-root
