.menu
  flex: 1
  display: flex
  justify-content: center
  box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.10)

.button
  font-size: 13px
  color: #ccc
  letter-spacing: 0.5px
  user-select: none
  line-height: 60px
  padding: 0 30px

  transition: background 0.2s ease
  will-change: background
  
  &.enabled
    color: #666
    cursor: pointer
  
  &.enabled:hover
    background: #f9f9f9
    
  &.active
    background: #F9F9F9
    color: #6D9EE1
