.wrapper
  display: flex
  flex-flow: row nowrap
  height: 100%
  width: 100%
  position: absolute

  .inner
    display: flex
    flex-flow: column nowrap
    flex: 1 1 auto
    background: #f9f9f9

    .mainArea
      flex: 1
      overflow-x: hidden
      display: flex
      flex-flow: column nowrap
      align-items: center
      transform: translate3d(0, 0, 0)
      padding: 35px 0
