.mainArea
  flex: 1
  overflow-x: hidden
  display: flex
  flex-flow: column nowrap
  align-items: center
  min-height: 100vh
  height: 100%
  background: #f9f9f9
  transform: translate3d(0, 0, 0)
  padding: 0 0 100px 0
