.item
  display: flex
  align-items: center
  margin-bottom: 10px

  &:last-child
    margin-bottom: 0

  &:not(:first-child)
    input
      border-radius: 20px

  &-input
    cursor: auto

  &-plus,
  &-minus
    margin-left: 14px
    font-size: 32px
    color: #2c2c30
    cursor: pointer

  &-minus
    padding-bottom: 6px

  &-plus:hover,
  &-minus:hover
    color: #777777


.plus
  font-size: 14px
  color: #999999
  cursor: pointer
