@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Light-webfont.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Regular-webfont.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Regular-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Semibold-webfont.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Bold-webfont.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-UI';
  src: url('assets/fonts/Inter-UI-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-UI';
  src: url('assets/fonts/Inter-UI-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-UI';
  src: url('assets/fonts/Inter-UI-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-UI';
  src: url('assets/fonts/Inter-UI-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}