doctype HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Chisel
    meta(name="description" content="Parse CMS")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='icon' href=require('assets/images/chisel-logo.png'))
  body
    #app-root
