html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Chisel
    meta(name="description" content="Parse CMS")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='icon' href=require('assets/images/chisel-logo.png'))
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(src="https://js.stripe.com/v3/")
    base(href="./")
  body
    noscript You need to enable JavaScript to run this app.
    #app-root
