doctype html
head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  title Scriven
  meta(name="description" content="Parse CMS")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="icon" href=require("assets/images/icon.png"))

body
  #app-root
