.link
  display: flex
  justify-content: center

  .icon
    margin: 20px

    svg
      height: 70px

.image
  height: 108px
  background: no-repeat center center / contain

.audio
  width: 100%

.video
  height: 200px
  width: 100%