.tab-preview
  border: 1px solid #C8CCD0
  padding: 10px

.split
  display: flex
  height: 100%

  .side-code
    width: 50%
    height: 100%
    border-radius: 0px

  .side-preview
    width: 50%
    padding: 10px
    border: 1px solid #C8CCD0
    border-left: none
    height: 100%